doctype html
html
	head
	title= title
	link(rel='stylesheet', href='/estilos/styles.css')
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
	script(src="/javascript/main.js")
	body
		.container
			header
				h1 Red de Farmacias NoSQL Cassandra Base de Datos II
			.main
				block content